@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #F5F5F5;
  --background-rgb: #202020;
}

html {
  font-family: var(--font-montserrat);
  background-color: rgb(var(--background-rgb));
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-size: 100%;
  /* overflow: hidden; */
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #202020;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.5rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  margin-top: 0.5rem;
  margin-bottom: 1rem; /* Acts like 'padding' inside the track */
}

/* Style the scrollbar thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded; /* Color and rounded corners of the scrollbar thumb */
}

/* Optional: Style the scrollbar thumb on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500; /* Darker color on hover */
}

/* Always reserve space for the scrollbar */
.scrollable-body-content {
  padding-right: 48px; /* 40px + 8px Adjust based on the average scrollbar width */
}

/* Reduce padding by the scrollbar's width when the scrollbar is present */
.scrollable-body-content.has-scrollbar {
  padding-right: 40px;
}

/* .main-container {
  height: calc(100vh - 64px); 
} */

.main-section {
  padding-top: 64px;
}

.table-container {
  height: calc(100vh - 362px);
}